.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .slide {
        width: 100%;
    }

    .prev_button, .next_button  {
        position: absolute;
        border: none;
        font-size: 24px;
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.5);
        transform: translateY(-140%);
    }

    .prev_button {
        left: 0;
    }

    .next_button {
        right: 0;
    }

}