.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: -10rem;
    background-color: aliceblue;
    border-bottom: 1px solid #ccc;

    .full {
        position: relative;
        width: 800px;
        height: 500px;
        margin-top: -10rem;
        box-shadow: 0 1px 20px #ccc;

        .main {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            background-color: #fff;


            .register {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                width: 50%;

                .input {
                    min-width: 300px;
                    height: 40px;
                    border: none;
                    background-color: #f6f6f6;
                    padding: 10px;
                }

                .error {
                    font-size: 1.2rem;
                    width: 100%;
                    height: 10px;
                    margin-left: 120px;
                    margin-top: -15px;
                    color: red;

                }

                .to_login {
                    text-decoration: underline;
                    color: rgb(0, 136, 255);
                    cursor: pointer;
                    font-size: 1.4rem;
                }

                .btn {
                    padding: 1rem 2rem;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--primary-color);
                    color: #fff;
                    cursor: pointer;
                    box-shadow: 0 1px 10px #ccc;
                }

                .btn:hover {
                    background-color: #000b80;
                }

            }

            .login {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                width: 50%;

                .auth0 {
                    display: flex;
                    justify-content: space-between;
                    width: 130px;
                    margin-bottom: -20px;
                    padding-top: 20px;

                    .auth0_btn {
                        width: 50px;
                        cursor: pointer;
                        border-radius: 50%;
                        box-shadow: 0 1px 20px #ccc;
                        padding: 4px;
                    }
                    .auth0_btn:hover {
                        background-color: #e9e7e7;
                    }
                }

                .input {
                    min-width: 300px;
                    height: 40px;
                    border: none;
                    background-color: #f6f6f6;
                    padding: 10px;
                    margin-bottom: -2rem;
                }

                .to_login {
                    text-decoration: underline;
                    color: rgb(0, 136, 255);
                    cursor: pointer;
                    font-size: 1.4rem;
                }

                .btn {
                    padding: 1rem 2rem;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--primary-color);
                    color: #fff;
                    cursor: pointer;
                    margin-top: -20px;
                    box-shadow: 0 1px 20px #ccc;

                }

                .btn:hover {
                    background-color: #000b80;
                }

                .to_foget_pwd {
                    cursor: pointer;
                }

                .to_register {
                    text-decoration: underline;
                    color: rgb(0, 136, 255);
                    cursor: pointer;
                    font-size: 1.4rem;
                }
            }
        }

        .cover {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50%;
            background-color: rgba($color: #000000, $alpha: 0.8);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            .brand{
                color: #77d4fc;
                font-size: 6rem;
                font-weight: 700;
            }

            .slogan {
                color: #fff;
                font-size: 2rem;

            }
        }

        .left {
            left: 0;
            animation: to_left 0.3s linear;
        }

        @keyframes to_left {
            from {
                left: 400px;
            }
        }

        .right {
            left: 400px;
            animation: to_right 0.3s linear;
        }

        @keyframes to_right {
            from {
                left: 0px;
            }
        }
    }
}