.voucher {
    position: relative;
    display: flex;
    width: 450px;
    height: 120px;
    border: 1px solid #000000;
    border-left: 4px dashed var(--primary-color);
    margin: 1rem 8rem 1rem 0;

    .left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        background-color: var(--primary-color);

        .label {
            color: #fff;
            margin-bottom: 1rem;
        }

        .name {
            font-size: 1.2rem;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .left::before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        transform: translateY(-50%);
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
    }

    .left::after {
        display: block;
        position: absolute;
        content: "";
        bottom: 0;
        transform: translateY(50%);
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
    }

    .right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        margin-left: 10px;

        .info {
            padding: 10px 0;

            .title {
                font-size: 1.6rem;
                margin-bottom: 4px;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 4px;
                top: 4px;
                background-color: #fff;
                color: var(--primary-color);
                border: none;
                cursor: pointer;
                font-weight: 700;
            }

            .content {
                font-size: 1.4rem;
                color: #808080;
                margin-bottom: 4px;
            }

            .using {
                margin-bottom: 4px;

                .range {

                    .percentage {
                        position: relative;
                        background-color: #ccc;
                        border-radius: 10px;
                        width: 150px;
                        height: 10px;

                        .percentage_value {
                            position: absolute;
                            left: 0;
                            background-color: var(--primary-color);
                            top: 0;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
    
                }


                .count {
                    color: var(--primary-color);
                    font-size: 1.5rem;
                }
            }
        }

    }
}