.wrapper {
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    

    .body {
        display: flex;
        width: 100%;
        margin-top: 10rem;
        margin-bottom: 800px;

        .body_left {
            width: 306px;
            margin-left: 100px;
            margin-right: 2rem;


        }

        .body_right {
            display: flex;
            flex-wrap: wrap;
            height: 100px;
            flex: 1;
            margin-right: 100px;

            

            .main {


                .products {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;

                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
        
    }

    @media screen and (max-width: 1200px) {
        .footer {
            display: none;
        }
    }
}

