.modal_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;


    .modal {
        width: 500px;
        height: 700px;
        min-height: 150px;
        background-color: #fff;
        border-radius: 5px;
        animation: show 0.2s linear;
        padding: 20px;

        .modal_title {
            font-weight: 700;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;
        } 

        .modal_body {
            display: flex;
            flex-wrap: wrap;

            .modal_body_input {
                height: 40px;
                padding: 10px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .modal_body_select {
                height: 40px;
                padding: 10px;
                width: 100%;
                margin-bottom: 20px;
            }

            .modal_body_map {
                height: 260px;
                width: 100%;
                background-color: #ccc;
            }
        } 

        .modal_add {
            width: 150px;
            height: 40px;
            background-color: #fff;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            cursor: pointer;
            margin-left: 20px;
            font-weight: 700;
            font-size: 1.4rem;
        }

        .modal_confirm {
            margin-top: 20px;
            margin-bottom: 20px;
            float: right;
            border: none;
            padding: 10px;
            border-radius: 2px;
            cursor: pointer;
            background-color: var(--primary-color);
            color: #fff;
        }

        .modal_cancel {
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            float: right;
            border: none;
            padding: 10px;
            border-radius: 2px;
            cursor: pointer;
            background-color: #ccc;
        }

    }
}