.modal_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;

    @keyframes show {
        from {
            transform: scale(0);
        }
    }

    .modal {
        width: 500px;
        min-height: 150px;
        background-color: #fff;
        border-radius: 5px;
        animation: show 0.2s linear;

        .modal_title {
            padding: 10px;
            font-weight: 700;
            border-bottom: 1px solid #ccc;
        } 

        .modal_body {
            border-bottom: 1px solid #ccc;
            padding: 10px;


        } 

        .modal_btn {
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            float: right;
            border: none;
            padding: 10px;
            border-radius: 2px;
            cursor: pointer;
            background-color: #ccc;
        }
    }
}