.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 1.3rem;
    background-color: #f6f6f6;
    padding: 20px;

    .top_item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        height: 40px;
        border: 1px solid #ccc;
        margin-right: 20px;
        border: none;
        font-size: 1.4rem;

        .top_item_option {
            height: 40px;
            padding: 100px;
        }

        .top_item_input {
            width: 300px;
            height: 100%;
            padding-left: 1rem;
        }

        .top_item_search {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            padding: 3px 5px;
            border: 1px solid #000000;

        }

        .top_item_search:hover {
            background-color: #ccc;
            color: var(--primary-color);
            border: none;
        }
    }
}