body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-datepicker__year .react-datepicker__year-text {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: .8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: .3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker__year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__year .react-datepicker__year-text {
  width: 4rem !important;
  margin: 2px;
  font-size: 1.5rem;
}

.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  font-size: 1.3rem;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 6rem;
  margin: 2px;
  font-size: 1.5rem;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 1.3rem !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;
  width: 30px !important;
  height: 30px;
  font-size: 1.5rem;
}

.react-datepicker__day-names {
  white-space: nowrap;
  margin-bottom: -8px;
  display: flex;
  justify-content: space-evenly;
}