.wrapper {
    height: 1000px;
    
    .products {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 8rem;
        flex-wrap: wrap;
    }

    .blogs {
        display: flex;
        flex-wrap: wrap;
        margin: 0 4rem;
    }

    

}